BASE_URL=localhost:3000
ABLY_API_KEY=

NEXT_PUBLIC_HOSTNAME=http://localhost:3000
NEXT_PUBLIC_ROUND_TIME=90000
NEXT_PUBLIC_BASE_POINTS=50
NEXT_PUBLIC_POINTS_PER_SECOND_LEFT=1
NEXT_PUBLIC_POINTS_PER_QUESS_LEFT=5
